/* Smallest possible size (e.g. mobile) */
@media (max-width: 500px) {
  #navbardown {
    visibility: visible;
    display:inline;
  }
  nav > ul {
    visibility: hidden;
    display: none;
  }
  #headerPlaceHolder{
    margin-top: 76px;
  }
}
/* Medium size (e.g. small laptop/tablet) */
@media (max-width: 800px) and (min-width: 500px) {
  #hdr > a {
    text-align: left;
    padding-left: 25px;
  }
  nav {
    float: right;
    width: calc(100% - 260px);
    height: 74px;
    font-size: .9em;
  }
  #headerPlaceHolder{
    margin-top: 70px;
  }
  li {
    padding: 2px 5px 2px 5px;
  }
  ul {
    height: 74px;
    display: block;
    padding: 0px;
    margin: 0px;
    padding-top: 27px;
  }
  #navbardown > img{
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}
/* Largest size (e.g. desktop) */
@media (min-width: 800px) {
  #headerPlaceHolder{margin-top: 115px;}
  ul {
    margin: 0px 0px 4px 0px;
    padding: 6px 0px;
  }
  #navbardown {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  li {
    padding: 0px 50px 0px 50px;
  }
}
li {
  display: inline;
}
#hdr {
  position: fixed;
  z-index: 1000;
  top: 0px;
  background-color: white;
  list-style: none;
  text-align: center;
}
a, a:visited, a:active {
  text-decoration: none;
  font-size: 1.1em;
  color: #820000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid transparent;
}
a:hover {
  color: purple;
}