* { 
  --color-one-main: #FFBD65; 
  --color-one-accent: #B27523; 
  --color-one-accent-dark: #99651E;
  --color-two-main: #65C7FF;
  --color-two--accent: #297DAD;
  --color-two--misc: #8AD4FF;
  --color-accent: #820000;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #e0e0e0;
  font-size: 100%;
  width: 100%; 
  margin: 0px; 
  color: #333;
}



#wordsToExcludeText {
  text-align: center;
  width: 100%;
  top: 20px;
  font-size: 1.3em;
  clear: both;
  color: var(--color-accent);
  padding-top: 20px; 
}
#backTextBtn {
  background: url('../img/backwardArrow.png') no-repeat center;
  background-size: auto 80%;
}
#forwardTextBtn {
  background: url('../img/forwardArrow.png') no-repeat center;
  background-size: auto 80%;
}
article {
  width: 100%;
  background-color: var(--color-one-main);
  border-radius: 8px;
  height: 100%;
  position: relative;
  float: left;
  padding-bottom: 20px;
}
p {
  margin: 15px;
  font-size: 18px; 
  line-height: 150%; 
}
textarea {
  display: block;
  width: 85%;
  resize: vertical; 
  margin: 15px auto 0px auto;
  box-sizing: border-box;
  background-color: #fbfbfb;
}
#textArea1 {
  height: 350px;
}
#textArea2 {
  height: 120px;
  top: 20px;
}
#slider1 {
  width: 30%;
  float: right;
}
aside {
  overflow: hidden;
  width: 36%;
  float: right;
  background-color: var(--color-one-main);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 8px;
  margin-left: 1%;
  display: flex; 
  flex-direction: column;
}
h1 {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  color: var(--color-accent);
  margin-bottom: 10px; 
}
section {
  width: 61%;
  float: left;
  background-color: var(--color-two-main);
  text-align: center;
  display:flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-radius: 8px;
}
.replaceTypeBtn {
  color: white;
  background-color: var(--color-one-accent);
  padding: 3%;
  -webkit-appearance: none;
  cursor: pointer;
  border: 2px solid transparent;
  margin-bottom: 5px;
}
#replaceBtns {
  margin-top: 25px;
  width: 100%;
  text-align: right;
}
.replaceTypeBtn:hover, #resetOptionsBtn:hover, .optionsButton:hover, #forwardTextBtn:hover, #backTextBtn:hover {
  background-color: var(--color-one-accent-dark);
}
.replaceTypeBtn:focus, li > a:focus, #resetOptionsBtn:focus, .optionsButton:focus, #backTextBtn:focus, #forwardTextBtn:focus {
  border: 2px solid orange;
  outline: none;
}
#test:focus {
  outline: none; 
  border: 2px solid orange; 
}
#textArea1:focus, #textArea2:focus{
  border: 2px solid blue;
}
#replacementTypeText {
  float: left;
}
.chkBox {
  float: right;
  cursor: pointer;
}
.toolTip {
  cursor: pointer;
  font-size: 1.1em; 
}
.toolTip:hover .toolTipText{
  visibility: visible;
}
.toolTipText {
  visibility: hidden;
  width: 160px;
  background-color: #333;
  color: #fdfdfd;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  font-size: .8em;
  position: absolute;
  z-index: 1;
}
.excludeContainer {
  float: left;
  width: 100%;
  margin-top: 15px;
}
#chooseFile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#resetOptionsBtn {
  display: block;
  cursor: pointer;
  color: #fcfcfc;
  background-color: var(--color-one-accent);
  padding: 12px;
  -webkit-appearance: none;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 30px; 
  margin-bottom: 20px; 
  top: 50px;
  border: 2px solid transparent;
}
.container { 
  display: flex;
}
@media (max-width: 800px) { 
  .container { 
    flex-direction: column; 
  }
  section, aside { 
    width: 95%; 
    margin: 0px; 
    padding: 0px;
    padding-left: 2.5%; 
    padding-right: 2.5%;  
    border-radius: 0px; 
  }
  section { 
    padding-bottom: 15px; 
  }
}
.optionsButton, #backTextBtn, #forwardTextBtn {
  display: inline-block;
  width: 150px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700; 
  color: #fcfcfc;
  background-color: var(--color-two--accent);
  padding: .5%;
  border: 2px solid transparent;
  margin-bottom: 5px;
  -webkit-appearance: none; 
  border-radius: 0; 
  -webkit-border-radius: 0; 
}
#metaDisplay {
  width: calc(100% - 20px);
  text-align: left;
  padding-left: 20px;
  font-size: 1.1em;
  padding-top: 20px;
  line-height: 150%;   
}
