.CC {
    background-color: #000000;
}
.CD {
    background-color: #000000;
}
.DT {
    background-color: #000000;
}
.EX {
    background-color: #000000;
}
.FW {
    background-color: #000000;
}
.IN {
    background-color: #000000;
}
.JJ {
    background-color: #000000;
}
.JJR {
    background-color: #000000;
}
.JJS {
    background-color: #000000;
}
.LS {
    background-color: #000000;
}
.MD {
    background-color: #000000;
}
.NN {
    background-color: #000000;
}
.NNS {
    background-color: #000000;
}
.NNP {
    background-color: #000000;
}
.NNPS {
    background-color: #000000;
}
.PDT {
    background-color: #000000;
}
.POS {
    background-color: #000000;
}
.PRP {
    background-color: #000000;
}
.PRP_ {
    background-color: #000000;
}
.RB {
    background-color: #000000;
}
.RBR {
    background-color: #000000;
}
.RBS {
    background-color: #000000;
}
.RP {
    background-color: #000000;
}
.SYM {
    background-color: #000000;
}
.TO {
    background-color: #000000;
}
.UH {
    background-color: #000000;
}
.VB {
    background-color: #000000;
}
.VBD {
    background-color: #000000;
}
.VBG {
    background-color: #000000;
}
.VBN {
    background-color: #000000;
}
.VBP {
    background-color: #000000;
}
.VBZ {
    background-color: #000000;
}
.WDT {
    background-color: #000000;
}
.WP {
    background-color: #000000;
}
.WP_ {
    background-color: #000000;
}
.WRB {
    background-color: #000000;
}