#headerPlaceHolder{
  margin-top: 150px;
}

nav {
  /*REMOVE */
  position: fixed;
  top: 70px;
  z-index: 1000;

  width: 100%;
  text-align: center;
  /*background-color: #639df9; */
  background-color: white;
  border-radius: 8px;
}
li {
  display: inline;
  padding: 50px;
}
#hdr {
  /* remove */
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0px;

  background-color: white;
  text-align: center;
  border-radius: 8px;
}
a, a:visited {
  text-decoration: none;
  font-weight: bold;
  /* color: blue */
  color: #639df9;
}
a:hover {
  /* color: white */
  color: purple;
}
a:active {
  /* color: blue */
  color: #639df9;
}
ul {
  list-style: none;
  padding: 8px 0px;
  margin-bottom: 20px;
}
