#headerPlaceHolder{margin-top: 130px;}
nav {
  position: fixed;
  top: 70px;
  z-index: 1000;
  width: 100%;
  text-align: center;
  background-color: white;
}
li {
  display: inline;
  padding: 50px;
}
#hdr {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0px;

  background-color: white;
  text-align: center;
}
a, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #639df9;
}
a:hover {
  color: purple;
}
a:active {
  color: #639df9;
}
ul {
  list-style: none;
  padding: 6px 0px;
  margin-bottom: 10px;
}
