nav {
  text-align: center;
  background-color: #639df9;
  border-radius: 8px;
}
li {
  display: inline;
  padding: 50px;
}
#hdr {
  background-color: #639df9;
  text-align: center;
  border-radius: 8px;
}
a, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}
a:hover {
  color: white;
}
a:active {
  color: blue;
}
ul {
  list-style: none;
  padding: 8px 0px;
  margin-bottom: 20px;
}
