body
{
  font-family: "Helvetica";
  color: #4268f4;
  background-color: #e0e0e0;
}
nav
{
  text-align: center;
  background-color: #639df9;
  border-radius: 8px;
}
ul
{
  list-style: none;
  padding: 8px 0px;
  margin-bottom: 20px;
}
li
{
  display: inline;
  padding: 50px;
}
a, a:visited
{
  text-decoration: none;
  font-weight: bold;
  color: blue;
}
a:hover
{
  color: white;
}
a:active
{
  color: blue;
}
textarea
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  resize: none;
  width: 85%;
  height: 350px;
}
#hdr
{
  background-color: #639df9;
  text-align: center;
  border-radius: 8px;
}
#ftr
{
  background-color: #639df9;
  text-align: center;
  border-radius: 8px;
  clear: both;
  position: relative;
  top: 10px;
}
#slider1 {
  width: 30%;
  float: right;
}

aside
{
  width: 35%;
  float: right;
  background-color: #639df9;
  position: relative;
  right: 1%;
  padding-left: 1%;
  padding-right: 1%;
  height: 500px;
  border-radius: 8px;
  color: #5947e5;
  font-weight: bold;
}
h4
{
  text-align: center;
  color: #5947e5;
  font-weight: bold;
}
section
{
  width: 60%;
  float: left;
  background-color: #639df9;
  position: relative;
  left: 1%;
  text-align: center;
  height: 500px;
  border-radius: 8px;
}
.replaceTypeBtn {
  position: relative;
  color: white;
  background-color: blue;
  border: none;
  padding: 3%;
  float:right;
  -webkit-appearance: none;
  cursor: pointer;
}
#replacementTypeText
{
  display: block;
  padding-top: 50px;
}
#resetOptionsBtn
{
  background-color: red;
  border: none;
  color: white;
  position: relative;
  top: 275px;
  left: 40%;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  cursor: pointer;
}
#chkPronouns
{
  float: right;
  clear: both;
  position: relative;
}
#excludePronounsText
{
  display: block;
  padding-top: 30px;
}
.pedantifySubmissionBtns
{
  -webkit-appearance: none;
  cursor: pointer;
}
#chooseFile
{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
label
{
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  color: white;
  background-color: blue;
  padding: .5%;
}
label:hover
{
  background-color: purple;
}
label:active
{
  color: orange;
}
