body {
  font-family: "Helvetica";
  color: #5947e5;
  background-color: #e0e0e0;
  font-size: 100%;
}
#wordsToExcludeText {
  position: relative;
  text-align: center;
  width: 100%;
  top: 20px;
  font-size: 1.3em;
  clear: both;
}
textarea {
  display: block;
  width: 85%;
  resize: none;
}
#textArea1 {
  margin: 15px auto 0px auto;
  height: 450px;
  box-sizing: border-box;
}
#textArea2 {
  margin: 15px auto 0px auto;
  height: 120px;
  box-sizing: border-box;
  position: relative;
  top: 30px;
}
#slider1 {
  width: 30%;
  float: right;
}
aside {
  width: 36%;
  float: right;
  background-color: #639df9;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 8px;
  margin-left: 1%;
  font-weight: bold;
}
.container {
  display:flex;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
section {
  width: 61%;
  float: left;
  background-color: #639df9;
  text-align: center;
  /* TODO */
  display:flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-radius: 8px;
}
.replaceTypeBtn {
  color: white;
  background-color: blue;
  border: none;
  padding: 3%;
  -webkit-appearance: none;
  cursor: pointer;
  border: 2px solid transparent;
}
#replaceBtns {
  margin-top: 25px;
  width: 100%;
  text-align: right;
}
.replaceTypeBtn:hover {
  background-color: purple;
}
.replaceTypeBtn:focus, a:focus {
  border: 2px solid orange;
}
#textArea1:focus, #textArea2:focus{
  border: 2px solid blue;
}
#replacementTypeText {
  float: left;
}
#resetOptionsBtn:focus {
  background-color: black;
}
#chkPronouns, #chkConjunctions, #chkHyphens {
  float: right;
}
.toolTip {
  cursor: pointer;
}
.toolTip:hover .toolTipText{
  visibility: visible;
}
.toolTipText {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  font-size: .8em;
  position: absolute;
  z-index: 1;
}
.excludeContainer {
  float:left;
  width: 100%;
  margin-top: 15px;
}
#chooseFile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#resetOptionsBtn {
  display: block;
  width: 100px;
  cursor: pointer;
  color: white;
  background-color: red;
  padding: 10px;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;
}
.optionsButton {
  display: inline-block;
  width: 150px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  color: white;
  background-color: blue;
  padding: .5%;
  border: none;
  -webkit-appearance: none;
}
.optionsButton:hover{
  background-color: purple;
}
.optionsButton:active{
  color: orange;
}
#metaDisplay {
  width: calc(100% - 20px);
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.0em;
  padding-top: 20px;
}
